.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.DiceRoll-wrapper {
  margin: 0 auto;
  max-width: 300px;
}

.RollButtons {
  margin: 8px auto;
}

.mainButton, .secondaryButton {
  cursor: pointer;
  font-weight: bold;
}

.mainButton {
  border: 3px solid black;
  color: white;
  background: black;
}

.secondaryButton {
  border: 3px solid white;
  color: black;
  background: white;
}
